<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="/css/1.css">
</head>
<body>
<div class="newsbody">
<h1><%= data[0].titleArticle %>  </h1>
<p class="textnews">
    <%= data[0].textArticle %>
</p>
</div>	
</body>
</html>